<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History Result</title>
</head>
<body>
<h2>Order History for: <span th:text="${author}"></span></h2>
<table border="1">
    <tr>
        <th>Order ID</th>
        <th>Time</th>
        <th>Status</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderTime}"></td>
        <td th:text="${order.status}"></td>
    </tr>
</table>
<br>
<a th:href="@{/order/history}">Back to Search</a>
</body>
</html>